.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10000;
  background-color: $color-secondary;
  &__status {
    font-size: 2rem;
    color: $color-primary;
  }
}
