.u-center-text {
  text-align: center;
}
.u-margin-center {
  margin: 0 auto;
}
.u-margin-top-big {
  margin-top: 2rem;

  @media screen and (min-width: $medium-screen) {
    margin-top: 6rem;
  }
}
.u-margin-bottom-small {
  margin-bottom: 2rem;

  @media screen and (min-width: $medium-screen) {
    margin-bottom: 4rem;
  }
}
.u-margin-bottom {
  margin-bottom: 10rem !important;
}
.u-error-border {
  border: 0.1rem solid $color-danger !important;
}
.u-hide {
  display: none !important;
}
.u-show {
  display: block !important;
}
