/* RGB palette */
$color1: rgba(57, 62, 65, 1);
$color2: rgba(226, 192, 68, 1);
$color3: rgba(227, 240, 155, 1);
$color4: rgba(88, 123, 127, 1);
$color5: rgba(30, 32, 25, 1);

$main-color-bg: #1e2019;
$color-primary-bg: $color5;
$color-secondary-bg: $color1;
$color-default-bg: $color5;

$color-primary-light: lighten($color-secondary-bg, 30%);
$color-primary-darken: darken($color-secondary-bg, 10%);

$color-primary-bg-light: rgba($color-primary-light, 0.7);
$color-primary-bg-dark: rgba($color-primary-darken, 0.9);

$color-primary: $color2;
$color-secondary: $color1;
$color-primary-1: $color3;
$color-secondary-2: $color4;

$color-primary-btn-bg: $color2;

$color-black: #000000;
$color-white: #ffffff;
$color-danger: #ff0000;
