/* Coolors Exported Palette - coolors.co/393e41-e2c044-e3f09b-587b7f-1e2019 */

/* HSL */
$color1: hsla(203%, 7%, 24%, 1);
$color2: hsla(47%, 73%, 58%, 1);
$color3: hsla(69%, 74%, 77%, 1);
$color4: hsla(186%, 18%, 42%, 1);
$color5: hsla(77%, 12%, 11%, 1);

/* RGB */
$color1: rgba(57, 62, 65, 1);
$color2: rgba(226, 192, 68, 1);
$color3: rgba(227, 240, 155, 1);
$color4: rgba(88, 123, 127, 1);
$color5: rgba(30, 32, 25, 1);