<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Sajankumar Vijayan | A proffessional frontend developer.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="icon.png" />

    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link href="assets/css/all.css" rel="stylesheet" />

    <link rel="stylesheet" href="assets/css/main.css" />

    <meta name="theme-color" content="#fafafa" />
    <script
      src="https://kit.fontawesome.com/36c7176281.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>   
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>
      <nav class="navigation__nav">
        <ul class="navigation__list" id="ulList">
          <li class="navigation__item">
            <a href="#home" class="navigation__link" name="home">Home</a>
          </li>
          <li class="navigation__item">
            <a href="#aboutme" class="navigation__link" name="aboutme">About Me</a>
          </li>
          <li class="navigation__item">
            <a href="/assets/sajankumar_v.pdf" target="_blank" class="navigation__link" name="resume" download="sajankumar_vijayan_cv.pdf">Resume</a>
          </li>
          <li class="navigation__item">
            <a href="#skills" class="navigation__link" name="skills">Skills</a>
          </li>

          <li class="navigation__item">
            <a href="#contactme" class="navigation__link" name="contactme">Contact Me</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-container" id="home">
      <header class="header-container__header">
        <div class="header-container__text-area">
          <h1 class="heading-primary">
            <span class="heading-primary__title">Hello, I'm Sajan</span>
            <span
              class="heading-primary__sub-title u-center-text u-margin-center"
              >I am a Frontend Developer from India currently based out of Amsterdam, Netherlands.
            </span>
          </h1>
          <div class="heading-action">
            <a href="#aboutme" class="btn btn--primary btn-animationup" id="findMore">
              Find more
            </a>
          </div>
        </div>
      </header>
    </div>

    <main>
      <!-- about -->
      <section class="section-about" id="aboutme">
        <div class="u-center-text u-margin-bottom-small">
          <h2 class="heading-secondary">
            About Me
          </h2>
          <span class="heading-secondary__sub-title">
            Find out who I am, where I'm from and what I'm all about.
          </span>
        </div>
        <div class="container u-margin-bottom">
          <div class="grid-of-2__70_by_30 u-margin-top-big">
            <div class="grid_col">
              <h3 class="heading-sub">Who I Am</h3>
              <p class="paragraph">
                At present, I am working as a Senior Frontend Developer for a highly established company in <strong>Amsterdam</strong>.
                I am a self-taught 32 years old man and my favourite number is 8. I have a family consisting of my wife and my boy.
              </p>
              <br />
              <br />
              <h3 class="heading-sub">Why work with me</h3>
              <p class="paragraph">
              I have the technical know-how and edge to develop and design for ten years now. Hence, I know what I am doing.
              I don’t just intend to build, I intend to build that SELLS.
              </p>
               <br />
              <p class="paragraph">
                I am distinctive about User interface design that adds more complexity to websites I build.
                Your website is the center of your digital ecosystem, and I am here to do justice to that.
              </p>
            </div>
            <div class="grid_col">
              <div class="composition">
                <img
                  src="/assets/images/family_pic.jpg"
                  alt="sajankumar vijayan's family"
                  class="composition__photo composition__photo--pic1"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- skills -->
      <section class="section-skills" id="skills">
        <div class="container">
          <div class="u-center-text u-margin-bottom-small">
            <h2 class="heading-secondary">
              Skills
            </h2>
            <span class="heading-secondary__sub-title">
              Everything I offer with a detailed overview of each.
            </span>
          </div>
          <div class="grid-of-3">
            <div class="grid_col">
              <div class="card">
                <div class="card__icon">
                  <i class="fas fa-pen-nib"></i>
                </div>
                <div class="card__info">
                  <h2 class="card__info__heading-primary">Web Design</h2>
                  <ul>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>User Focused</h6>
                          <span>
                            A website should be designed for the people who will
                            use it, so that's exactly what I do. User focused
                            design should be the primary goal of any website.
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>eCommerce</h6>
                          <span>
                            Creating a good online store can be hard. Over the
                            years I've learned the best ways to design stores
                            that sell products and provide real value to
                            customers.
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>Application UI</h6>
                          <span>
                            The user interface of an application, whether it's
                            mobile or desktop, can make or break a business.
                            Getting the interface right and most importantly of
                            all, making it easy to navigate, are the keys to a
                            successful app.
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="grid_col">
              <div class="card">
                <div class="card__icon">
                  <i class="fas fa-laptop-code"></i>
                </div>
                <div class="card__info">
                  <h2 class="card__info__heading-primary">Web Development</h2>
                  <ul>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>HTML / CSS</h6>
                          <span>
                            Creating a strong foundation for a website means
                            getting the HTML and CSS architecture right. If
                            you've got a design I can create the front-end code
                            for it.
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>Javascript / React / Angular</h6>
                          <span>
                            Almost all of the websites I make, are done using
                            javascript/react/angular and the reason is simple:
                            It is just easy to build. You can easily maintain,
                            and re-use components and much more.
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>Performance</h6>
                          <span>
                            Having a fast website is key to keeping people
                            around which ultimately converts them into
                            customers. There are a myriad of techniques involved
                            in making a fast website, all of which I've spent
                            years learning. I build these techniques into every
                            site I code.
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="grid_col">
              <div class="card">
                <div class="card__icon">
                  <i class="fas fa-server"></i>
                </div>
                <div class="card__info">
                  <h2 class="card__info__heading-primary">
                    Full stack
                  </h2>
                  <ul>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>Node js / Mongo db / Postgresql</h6>
                          <span>
                            Building high performance restful api using mordern
                            tech stack.
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="card__list">
                        <div><i class="far fa-check-square"></i></div>
                        <div>
                          <h6>Cloud Environment</h6>
                          <span>
                            I can configure aws / digital ocean cloud
                            environment setup for nice project. I can offer
                            kuberenets setup CICD setup etc...
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- contact -->
      <section class="section-contact" id="contactme">
        <div class="container">
          <div class="u-center-text u-margin-bottom-small">
            <h2 class="heading-secondary">
              Contact Me
            </h2>
            <span class="heading-secondary__sub-title">
              If you’d like to chat about a project please fill in the form
              below <br />
              and I’ll get back shortly.
            </span>
          </div>
          <div class="alert" id="alertBox">
            <h3 class="alert__header">
              Message Sent!
            </h3>
            <p class="alert__info">
              Thank you for contacting me. I will respond as soon as possible.
            </p>
          </div>
          <div class="grid-of-2">
            <div class="grid_col">
              <div class="form">
                <label for="name" class="form__label">Fullname</label>
                <input id="name" class="form__input" name="fullname" required />
              </div>
            </div>
            <div class="grid_col">
              <div class="form">
                <label for="email" class="form__label">Email</label>
                <input id="email" class="form__input" name="email" required />
              </div>
            </div>
          </div>
          <div class="form form--align">
            <label for="message" class="form__label">How can I help?</label>
            <textarea
              id="message"
              class="form__message"
              maxlength="250"
              required
            ></textarea>
          </div>
          <div class="form__action">
            <button class="btn btn--primary btn-animationup" id="sendMessage">
              Send message
            </button>
          </div>
        </div></div>>
      </section>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
          <div class="footer__copyright u-center-text">
            <p>© 2020 Sajankumar Vijayan. All rights reserved.</p>
          </div>
          <div class="footer__social">
            <div id="fb-root"></div>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
              data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
            <div>
              <a href="https://twitter.com/sajan58603046?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
                data-show-screen-name="false" data-show-count="false">Follow @sajan58603046</a>
            </div>
          </div>
          
      </div>
    </footer>
    <script src="assets/js/vendor/modernizr-3.8.0.min.js"></script>
    <!--jquery cdn-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- facebook widget -->
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"
    ></script>
    <!-- twitter widget -->
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
    <!-- plugins -->
    <script src="assets/js/plugins.js"></script>
    <!-- website scripts -->
    <script src="assets/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158687914-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      ga("set", "transport", "beacon");
      ga("send", "pageview");
      gtag('config', 'UA-158687914-1');
    </script>

  </body>
</html>
